@import 'design/index';
@import 'design/sanitize/sanitize.css';
@import 'design/sanitize/forms.css';
@import 'design/sanitize/typography.css';

body {
  font-size: font-size(medium);
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: spacing-size(small);
}

p {
  margin: 0;
}
