$toolbar-z-index: 2;
$outset-shadow:
  6px 6px 16px rgb(213, 217, 221, 0.5),
  -6px -6px 26px rgba(255, 255, 255, 0.8);
$inset-shadow:
  inset 4px 4px 4px rgb(213, 217, 221, 0.8),
  inset -6px -6px 16px rgba(255, 255, 255, 0.8);
