@import 'colors';

$font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;

$font-line-height-ratio: 1.25;

%font-content {
  font-family: $font-family-default;
  font-weight: 400;
  color: $font-color;
}

@mixin typography($font-size) {
  font-size: $font-size;
  line-height: $font-size * $font-line-height-ratio;
  @extend %font-content;
}
