@import '../../../design/index';

.idea-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: spacing-size(medium);
  @include card;

  .idea-description {
    flex-grow: 1;
  }

  .tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: spacing-size(small);
  }
}
